= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'

= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'

= javascript_include_tag '//ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js'
= javascript_include_tag '//ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular-route.js'
= javascript_include_tag '//ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular-resource.js'
= javascript_include_tag '//cdn.jsdelivr.net/angular.ui-router/0.2.13/angular-ui-router.min.js'

= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/8.0.6/ng-file-upload-shim.js'
= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/8.0.6/ng-file-upload.js'

= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js'

= javascript_include_tag :application
