!!!
%html(ng-app='bookexchange')
  %head
    = render 'layouts/metatags'

    %title= content_for?(:title) ? yield(:title) : ''

    = render 'layouts/stylesheets'

    = yield :head

    %base(href='/')

  %body(ng-init="serverData = '#{server_data}'")
    = yield

    = render 'layouts/javascripts'
